@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Welcome to your new app.</p>
    </div>
    <button class="btn btn-primary">Testa Bootstrap-knapp</button>
</div>
