@inject NavigationManager Nav

<div class="btn-group">
    <a class="btn btn-outline-secondary btn-sm"
       href="/culture/set/en?redirectUri=@Uri.EscapeDataString(Nav.Uri)">EN</a>
    <a class="btn btn-outline-secondary btn-sm"
       href="/culture/set/sv?redirectUri=@Uri.EscapeDataString(Nav.Uri)">SV</a>
</div>
